{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1>Outdoor Adventuring Club Members</h1>
    <div class="bd-example">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td scope="row">{{member['name']}}</td>
                    <td>{{member['address']}}</td>
                    <td>{{member['email']}}</td>
                    <td>{{member['dob']}}</td>
                    <td>{{member['phone']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{url_for('add_member')}}"><button type="button" class="btn btn-primary">Add member</button></a>
</div>
{% endblock %}